.cookbookHeader {
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
    text-align: center;
    color: #8D493A;
    background-color: #f5f5f5;
    z-index: 1000;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
    box-sizing: border-box;
  }