.deleteRecipeButton {
    background-color: #c23816;
    border: 1px solid #c23816;
    color: #272727;
    transition: 0.5s;  
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.deleteRecipeButton:hover {
    background-color: #E3CAA5;
    border: 1px solid #E3CAA5;
    color: #272727;
}

.deleteIcon {
    background-color: #c23816;
    transition: 0.5s;
}

.deleteRecipeButton:hover .deleteIcon{
    background-color: #E3CAA5;
}

.modalDelete {
    background-color: transparent;
    height: min-content;
}

@media (max-width: 330px)  {

    .deleteRecipeButton {
        background-color: #c23816;
        border: 1px solid #c23816;
        color: #272727;
        transition: 0.5s;  
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        scale: 0.7;
    }
  
    .deleteIcon {
        background-color: #c23816;
        transition: 0.5s ease;
        scale: 0.7;
    }
}