/* ------------------------- CSS for small detail ---------------------------- */

.recipeSmall {
    width: 300px;
    height: auto;
    margin: 1rem auto;
    transition: 0.7s;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 13px;
}

.recipeSmallDescription {
    text-align: justify;
    color: #272727;
    font-size: 0.875rem;  
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.recipeGridSmallContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
}

.recipeIngredientsSmall {
    text-align: justify;
    color: #272727;
    font-size: 0.875rem;  
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.recipeImgSmall {
    width: auto;
    height: 150px; 
    object-fit: cover;
}

.recipeSmall:hover {
    transform: scale(1.05);
    filter: brightness(1.08);
}

/* ------------------------- CSS for large detail ---------------------------- */

.recipeLarge {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: auto;
    margin: 1rem auto;
    transition: 0.7s;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 13px;
}

.recipeLargeDescription {
    text-align: justify;
    color: #272727;
    font-size: 0.875rem;  
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.recipeLarge:hover {
    transform: scale(1.05);
    filter: brightness(1.08);
}

.recipeImgLarge {
    width: auto;
    height: auto; 
    object-fit: cover;
}

/* ------------------------- CSS for rest of Recipe Card ---------------------------- */

.recipeName {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #8D493A;
}

.recipeBody {
    flex: 1;
    padding: 1rem;
}

.recipeButton {
    background-color: #CEAB93;
    border: 1px solid #CEAB93;
    color: #272727;
    transition: 0.5s;  
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.recipeButton:hover {
    background-color: #E3CAA5;
    border: 1px solid #E3CAA5;
    color: #272727;
}
