.tableRecipeButton {
    background-color: #CEAB93;
    border: 1px solid #CEAB93;
    color: #272727;
    transition: 0.5s;  
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    margin-bottom:10px;
}

.tableRecipeButton:hover {
    background-color: #E3CAA5;
    border: 1px solid #E3CAA5;
    color: #272727;
}

.tableIcon {
    background-color: #CEAB93;
    transition: 0.5s;
}

.tableRecipeButton:hover .tableIcon{
    background-color: #E3CAA5;
}