.recipeHeader {
    text-align: center;
    color: #CEAB93;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
  }

.icon {
    background-color: #CEAB93;
    transition: 0.5s;
}

.title {
    padding-left:10px;
}

/****************************** Buttons ******************************/

.recipeButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.recipeButton {
    background-color: #CEAB93;
    border: 1px solid #CEAB93;
    color: #272727;
    transition: 0.5s;  
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.recipeButton:hover {
    transform: scale(1.05);
    background-color: #E3CAA5;
    border: 1px solid #E3CAA5;
    color: #272727;
}

.recipeButton:hover .icon {
    background-color: #E3CAA5;
}

/****************************** Navbar ******************************/

.navbarList {
    position: sticky;
    top: 75px;
    width: 100%;
    background-color: white;
    z-index: 999;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  }

.navbarCollapse {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
